Repository woowacourse-teams/2022-moragora, pull requests merged in 2022-11, with the labels that each got.

#578 [All] Project README.md 작성
  README.md
  checkmate-preview.png
  checkmate.png
Labels: 📚 documentation, 🧑‍🌾 all

#589 [ALL] Refresh Token 관리 문제
  frontend/src/App.tsx
Labels: 🐞 bug, 🍚 frontend

#593 [BE] 격리되지 않는 refresh token 관련 test case 수정
  backend/src/test/java/com/woowacourse/moragora/domain/auth/RefreshTokenRepositoryTest.java
Labels: 🐞 bug, 🌾 backend

#583 [BE] 커피스택 비우기 리펙터링, 쿼리 최적화
  backend/src/main/java/com/woowacourse/moragora/application/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/domain/attendance/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/domain/attendance/CoffeeStackRepository.java
  backend/src/test/java/com/woowacourse/moragora/domain/attendance/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/attendance/CoffeeStackRepositoryTest.java
Labels: 🌾 backend, 🛠 refactor
