Repository woowacourse-teams/2022-moragora, pull requests merged in 2022-09, with the labels that each got.

#414 [FE] production 모드의 웹팩 소스맵 방식 변경
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack/webpack.prod.js
Labels: ⚙️ infra, 🍚 frontend

#418 [FE] Auth 시 메인 페이지로 리다이렉션되는 버그 수정
  frontend/cypress.config.ts
  frontend/src/router/Auth.tsx
Labels: 🐞 bug, 🍚 frontend

#425 [BE] 누락된 엔티티 단위 테스트 추가
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/test/java/com/woowacourse/moragora/entity/AttendanceTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/EventTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/ParticipantAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/ParticipantTest.java
Labels: 🌾 backend

#443 [BE] Prometheus 관련 의존성 추가
  backend/build.gradle
Labels: ⚙️ infra, 🌾 backend

#440 [BE] Request 마다 query count를 로깅하는 기능
  backend/src/main/java/com/woowacourse/logging/LoggingFilter.java
  backend/src/main/java/com/woowacourse/logging/QueryCountInspector.java
  backend/src/main/java/com/woowacourse/moragora/config/HibernateConfig.java
  backend/src/test/java/com/woowacourse/logging/QueryCountInspectorTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/CommonAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/event/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/event/EventsTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/participant/ParticipantTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/user/password/EncodedPasswordTest.java
  backend/src/test/java/com/woowacourse/moragora/presentation/CommonControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/presentation/UserControllerTest.java
Labels: 🔧 feature, 🌾 backend

#447 [FE] Header, Footer Layout 수정
  frontend/src/App.tsx
  frontend/src/components/layouts/AppLayout/AppLayout.styled.ts
  frontend/src/components/layouts/Body/Body.styled.ts
  frontend/src/components/layouts/Body/index.ts
  frontend/src/components/layouts/Footer/Footer.styled.ts
  frontend/src/components/layouts/Header/Header.styled.ts
  frontend/src/pages/CalendarPage/CalendarPage.stories.jsx
  frontend/src/pages/CheckInPage/CheckInPage.stories.jsx
  frontend/src/pages/CheckInPage/CheckInPage.styled.ts
  frontend/src/pages/CheckInPage/index.tsx
  frontend/src/pages/LoginPage/LoginPage.stories.jsx
  frontend/src/pages/LoginPage/LoginPage.styled.ts
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.stories.jsx
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.styled.ts
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingDetailPage/MeetingDetailPage.styled.ts
  frontend/src/pages/MeetingDetailPage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.stories.jsx
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/NotFoundPage/NotFoundPage.stories.jsx
  frontend/src/pages/NotFoundPage/NotFoundPage.styled.ts
  frontend/src/pages/NotFoundPage/index.tsx
  frontend/src/pages/PasswordUpdatePage/PasswordUpdatePage.stories.jsx
  frontend/src/pages/PasswordUpdatePage/PasswordUpdatePage.styled.tsx
  frontend/src/pages/PasswordUpdatePage/index.tsx
  frontend/src/pages/RegisterPage/RegisterPage.stories.jsx
  frontend/src/pages/RegisterPage/RegisterPage.styled.ts
  frontend/src/pages/SettingsPage/SettingsPage.stories.jsx
  frontend/src/pages/SettingsPage/SettingsPage.styled.tsx
  frontend/src/pages/SettingsPage/index.tsx
  frontend/src/pages/UnregisterPage/UnregisterPage.stories.jsx
  frontend/src/pages/UnregisterPage/UnregisterPage.styled.tsx
  frontend/src/pages/UnregisterPage/index.tsx
  frontend/src/pages/UserConfigPage/UserConfigPage.stories.jsx
  frontend/src/pages/UserConfigPage/UserConfigPage.styled.tsx
  frontend/src/pages/UserConfigPage/index.tsx
Labels: 🔧 feature, 🍚 frontend, 🛠 refactor

#455 [FE] CheckIn Page의 MeetingItem Hover 스타일 추가
  frontend/src/components/CheckMeetingItem/CheckMeetingItem.styled.ts
Labels: 🔧 feature, 🍚 frontend, 🛠 refactor

#453 [BE] 유저 이메일 unique 제약 제거 및 회원가입 시 중복 검사 기능 추가
  backend/src/main/java/com/woowacourse/moragora/application/UserService.java
  backend/src/main/java/com/woowacourse/moragora/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/moragora/domain/user/User.java
  backend/src/main/java/com/woowacourse/moragora/domain/user/UserRepository.java
  backend/src/test/java/com/woowacourse/moragora/application/UserServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/user/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/support/fixture/UserFixtures.java
Labels: 🐞 bug, 🔧 feature, 🌾 backend, 🛠 refactor

#459 [BE] Github Action으로 ci 구축하기
  .github/workflows/backend-ci.yml
Labels: ⚙️ infra, 🌾 backend

#438 [BE] 소나큐브 워크플로우 불필요한 작업 삭제 및 백엔드 패키지에서만 작동하게 변경
  .github/workflows/sonarqube.yml
  backend/src/main/java/com/woowacourse/MoragoraApplication.java
Labels: ⚙️ infra, 🌾 backend

#460 [BE] User 정보 응답 시 회원가입 기관 정보 추가
  backend/src/main/java/com/woowacourse/MoragoraApplication.java
  backend/src/main/java/com/woowacourse/moragora/dto/response/user/UserResponse.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/UserServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/presentation/UserControllerTest.java
Labels: 🔧 feature, 🌾 backend

#469 [FE] cypress-ci 적용
  .github/workflows/frontend-ci.yml
  frontend/.babelrc
  frontend/cypress.config.ts
  frontend/package-lock.json
  frontend/package.json
Labels: ⚙️ infra, 🍚 frontend

#449 [BE] 서버 가동시 스케줄러를 initialize 기능
  backend/src/main/java/com/woowacourse/moragora/application/EventService.java
  backend/src/main/java/com/woowacourse/moragora/application/ScheduledTasks.java
  backend/src/main/java/com/woowacourse/moragora/application/Scheduler.java
  backend/src/main/java/com/woowacourse/moragora/domain/attendance/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/domain/event/Event.java
  backend/src/main/java/com/woowacourse/moragora/domain/event/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/domain/event/Events.java
  backend/src/main/java/com/woowacourse/moragora/support/SchedulerStartUp.java
  backend/src/test/java/com/woowacourse/moragora/application/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/ScheduledTasksTest.java
  backend/src/test/java/com/woowacourse/moragora/application/SchedulerTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/event/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/event/EventsTest.java
  backend/src/test/java/com/woowacourse/moragora/support/fixture/EventFixtures.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#451 [BE] 데이터베이스 인덱싱 추가
  backend/src/main/java/com/woowacourse/moragora/domain/event/Event.java
  backend/src/main/java/com/woowacourse/moragora/domain/user/User.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
Labels: 🔧 feature, ⚙️ infra, 🌾 backend

#478 [BE] 출석 시간 전이 아닌 현재시간 이전의 이벤트 생성을 못하도록 변경
  backend/src/main/java/com/woowacourse/moragora/application/EventService.java
  backend/src/main/java/com/woowacourse/moragora/application/ServerTimeManager.java
  backend/src/main/java/com/woowacourse/moragora/support/timestrategy/DateTime.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/EventServiceTest.java
Labels: 🌾 backend, 🛠 refactor

#474 [BE] tomcat thread pool, hikari connection pool 설정
  backend/src/main/resources/application.yml
Labels: ⚙️ infra, 🌾 backend

#482 [BE] Scheduler에서 request scope인 빈을 참조하는 버그 수정
  backend/src/main/java/com/woowacourse/moragora/support/SchedulerStartUp.java
Labels: 🐞 bug, 🌾 backend

#483 [BE] Scheduler에서 request scope인 빈을 참조하는 버그 수정
  backend/src/main/java/com/woowacourse/moragora/support/SchedulerStartUp.java
Labels: 🐞 bug, 🌾 backend

#487 [BE] LoginInterceptor annotation 검사 로직 오류 수정 및 hotfix
  backend/src/main/java/com/woowacourse/moragora/presentation/auth/LoginInterceptor.java
Labels: 🐞 bug, 🌾 backend

#488 [BE] LoginInterceptor annotation 검사 로직 오류 수정
  backend/src/main/java/com/woowacourse/moragora/presentation/auth/LoginInterceptor.java
Labels: 🐞 bug, 🌾 backend
