Repository woowacourse-teams/2022-moragora, pull requests merged in 2022-08, with the labels that each got.

#236 [FE] 추가, 수정된 API 모킹
  frontend/src/mocks/handlers/commonHandler.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/types/meetingType.ts
Labels: 🔧 feature, 🍚 frontend

#234 [FE] 비동기 통신 훅 적용
  frontend/src/App.tsx
  frontend/src/apis/meetingApis.ts
  frontend/src/apis/userApis.ts
  frontend/src/components/UserItem/index.tsx
  frontend/src/consts/index.ts
  frontend/src/contexts/queryClient.tsx
  frontend/src/contexts/userContext.tsx
  frontend/src/hooks/useQuery.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
  frontend/src/types/queryType.ts
  frontend/src/types/userType.ts
  frontend/src/utils/request.ts
Labels: 🔧 feature, 🍚 frontend, 🛠 refactor

#237 [BE] 현재 서버 시간 요청 api 분리
  backend/src/docs/asciidoc/common.asciidoc
  backend/src/docs/asciidoc/index.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/CommonController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingsResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/ServerTimeResponse.java
  backend/src/main/java/com/woowacourse/moragora/service/CommonService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/CommonAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/CommonControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/CommonServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#238 [BE] 커피스택 비우기 기능 구현
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/AttendanceController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/ParticipantAttendances.java
  backend/src/main/java/com/woowacourse/moragora/exception/InvalidCoffeeTimeException.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#228 [BE] Master 권한 추가
  backend/build.gradle
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/auth/support/MasterAspect.java
  backend/src/main/java/com/woowacourse/auth/support/MasterAuthorization.java
  backend/src/main/java/com/woowacourse/moragora/controller/AttendanceController.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Master.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/Participant.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/auth/support/MasterAspectTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#253 [BE] MeetingAttendances 생성 시 잘못된 참가자 수가 들어가던 버그 수정
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
Labels: 🐞 bug, 🌾 backend

#247 [BE] 모임 일정 Event Entity 추가
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/AttendanceController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Event.java
  backend/src/main/java/com/woowacourse/moragora/entity/Master.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/ParticipantAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/Status.java
  backend/src/main/java/com/woowacourse/moragora/exception/event/EventNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🌾 backend, 🛠 refactor

#254 [FE] 마스터 권한 및 커피스택 관련 기능 구현
  frontend/src/apis/common.ts
  frontend/src/apis/meetingApis.ts
  frontend/src/apis/userApis.ts
  frontend/src/assets/coffee-cup.svg
  frontend/src/assets/coffee-pot.svg
  frontend/src/assets/crown.svg
  frontend/src/assets/simple-coffee.svg
  frontend/src/components/@shared/Checkbox/Checkbox.styled.ts
  frontend/src/components/@shared/CircleProgressBar/CircleProgressBar.stories.jsx
  frontend/src/components/@shared/CircleProgressBar/CircleProgressBar.styled.ts
  frontend/src/components/@shared/CircleProgressBar/index.tsx
  frontend/src/components/CoffeeStackModal/CoffeeStackModal.stories.jsx
  frontend/src/components/CoffeeStackModal/CoffeeStackModal.styled.ts
  frontend/src/components/CoffeeStackModal/index.tsx
  frontend/src/components/CoffeeStackProgress/CoffeeStackProgress.stories.jsx
  frontend/src/components/CoffeeStackProgress/CoffeeStackProgress.styled.ts
  frontend/src/components/CoffeeStackProgress/index.tsx
  frontend/src/components/MeetingItem/MeetingItem.styled.ts
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/components/UserItem/index.tsx
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
  frontend/src/pages/SettingsPage/index.tsx
  frontend/src/types/meetingType.ts
  frontend/src/types/userType.ts
Labels: 🔧 feature, 🍚 frontend

#257 [FE] 이벤트 생성 구현
  frontend/src/App.tsx
  frontend/src/apis/eventApis.ts
  frontend/src/assets/chevron-right.svg
  frontend/src/components/@shared/Calendar/AdvancedConfiguration/AdvancedConfiguration.styled.ts
  frontend/src/components/@shared/Calendar/AdvancedConfiguration/index.tsx
  frontend/src/components/@shared/Calendar/Calendar.stories.jsx
  frontend/src/components/@shared/Calendar/Calendar.styled.ts
  frontend/src/components/@shared/Calendar/DateCell/DateCell.stories.jsx
  frontend/src/components/@shared/Calendar/DateCell/DateCell.styled.ts
  frontend/src/components/@shared/Calendar/DateCell/index.tsx
  frontend/src/components/@shared/Calendar/MonthControlBox/MonthControlBox.styled.ts
  frontend/src/components/@shared/Calendar/MonthControlBox/index.tsx
  frontend/src/components/@shared/Calendar/WeekCell/WeekCell.stories.jsx
  frontend/src/components/@shared/Calendar/WeekCell/WeekCell.styled.ts
  frontend/src/components/@shared/Calendar/WeekCell/index.tsx
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/@shared/Toggle/Toggle.stories.jsx
  frontend/src/components/@shared/Toggle/Toggle.styled.ts
  frontend/src/components/@shared/Toggle/index.tsx
  frontend/src/components/MeetingItem/MeetingItem.styled.ts
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/contexts/calendarContext.tsx
  frontend/src/hooks/useForm.ts
  frontend/src/mocks/fixtures/events.ts
  frontend/src/mocks/fixtures/meeting.ts
  frontend/src/mocks/handlers/eventHandler.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/EventCreatePage/EventCreatePage.stories.jsx
  frontend/src/pages/EventCreatePage/EventCreatePage.styled.ts
  frontend/src/pages/EventCreatePage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/router/index.tsx
  frontend/src/styles/GlobalStyles/index.tsx
  frontend/src/types/eventType.ts
  frontend/src/types/meetingType.ts
  frontend/src/types/utilityType.ts
  frontend/src/utils/common.ts
  frontend/src/utils/timeUtil.ts
Labels: 🔧 feature, 🍚 frontend

#260 [FE] 모임 단일 조회 변경 API 반영
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/types/meetingType.ts
Labels: 🔧 feature, 🍚 frontend

#249 [BE] Logging 처리
  backend/build.gradle
  backend/src/main/java/com/woowacourse/auth/dto/LoginRequest.java
  backend/src/main/java/com/woowacourse/auth/dto/LoginResponse.java
  backend/src/main/java/com/woowacourse/logging/LoggingAspect.java
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/dto/EmailCheckResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingsResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/ParticipantResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserAttendanceRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/UsersResponse.java
  backend/src/main/resources/file-error-appender.xml
  backend/src/main/resources/file-info-appender.xml
  backend/src/main/resources/file-warn-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🔧 feature, 🌾 backend

#263 [FE] Cypress 설치 및 환경설정
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: ⚙️ infra, 🍚 frontend

#264 [BE] 커피 비우기 전 소비할 내역 조회하기 기능
  backend/src/docs/asciidoc/meeting.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/AttendanceController.java
  backend/src/main/java/com/woowacourse/moragora/dto/CoffeeStatResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/CoffeeStatsResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
Labels: 🔧 feature, 🌾 backend

#267 [BE] 일정 저장 시 스케줄링을 통해 출석부 초기화하는 기능
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/EventController.java
  backend/src/main/java/com/woowacourse/moragora/dto/EventRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/EventsRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Event.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/IllegalEntranceLeaveTimeException.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/IllegalStartEndDateException.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/support/CustomTaskScheduler.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/EventControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#265 [BE] 모임 단일, 목록 조회 시 다음 일정 존재 여부 응답
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#269 [FE] 일정 생성 시 현재 날짜 선택 허용
  frontend/src/components/@shared/Calendar/DateCell/index.tsx
Labels: 🐞 bug, 🍚 frontend

#271 [BE] 출석부 생성 시간 입장 시간 1분 전으로 변경
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
Labels: 🔧 feature, 🌾 backend

#274 [BE] isCoffeeTime 관련 로직 분기처리
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
Labels: 🐞 bug, 🌾 backend

#276 [FE] Nginx history API fallback 설정
  frontend/webpack/webpack.common.js
Labels: ⚙️ infra, 🍚 frontend

#280 [FE] 출결 요청 시 서버에서 에러 발생 픽스
  frontend/cypress/e2e/app.cy.ts
  frontend/src/apis/userApis.ts
  frontend/src/components/UserItem/index.tsx
  frontend/src/mocks/configs/index.ts
Labels: 🐞 bug, 🍚 frontend

#278 [BE] 출석체크 요청에 대한 검증 추가
  backend/src/main/java/com/woowacourse/moragora/dto/UserAttendanceRequest.java
Labels: 🐞 bug, 🌾 backend

#288 [BE] 테스트 픽스처 분리 및 리팩토링
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Event.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/auth/support/MasterAspectTest.java
  backend/src/test/java/com/woowacourse/moragora/MoragoraApplicationTests.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/EventControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/support/DataSupport.java
  backend/src/test/java/com/woowacourse/moragora/support/DatabaseCleanUp.java
  backend/src/test/java/com/woowacourse/moragora/support/EventFixtures.java
  backend/src/test/java/com/woowacourse/moragora/support/MeetingFixtures.java
  backend/src/test/java/com/woowacourse/moragora/support/UserFixtures.java
Labels: 🌾 backend

#290 [BE] 로컬에서 Log 확인 가능하게 변경
  backend/.gitignore
  backend/gradlew
  backend/src/main/java/com/woowacourse/logging/LoggingAspect.java
  backend/src/main/resources/console-appender.xml
  backend/src/main/resources/logback-spring.xml
Labels: 🔧 feature, 🌾 backend

#297 [FE] 모바일 레이아웃 제거
  frontend/src/App.styled.ts
  frontend/src/App.tsx
  frontend/src/components/layouts/AppLayout/AppLayout.styled.ts
  frontend/src/components/layouts/AppLayout/index.tsx
  frontend/src/components/layouts/Content/Content.stories.jsx
  frontend/src/components/layouts/Content/Content.styled.ts
  frontend/src/components/layouts/Content/index.tsx
  frontend/src/components/layouts/MobileLayout/MobileLayout.stories.jsx
  frontend/src/components/layouts/MobileLayout/MobileLayout.styled.ts
  frontend/src/components/layouts/MobileLayout/index.tsx
  frontend/src/pages/EventCreatePage/EventCreatePage.stories.jsx
  frontend/src/pages/LoginPage/LoginPage.stories.jsx
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.stories.jsx
  frontend/src/pages/MeetingListPage/MeetingListPage.stories.jsx
  frontend/src/pages/MeetingPage/MeetingPage.stories.jsx
  frontend/src/pages/NotFoundPage/NotFoundPage.stories.jsx
  frontend/src/pages/RegisterPage/RegisterPage.stories.jsx
  frontend/src/pages/SettingsPage/SettingsPage.stories.jsx
Labels: 🔧 feature, 🍚 frontend

#300 [BE] 로컬 환경에서 Test Code Logging 모니터링이 가능하게 수정
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: 🐞 bug, 🌾 backend

#302 [BE] 출석부 조회 기능 구현
  backend/src/docs/asciidoc/attendance.asciidoc
  backend/src/docs/asciidoc/index.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/AttendanceController.java
  backend/src/main/java/com/woowacourse/moragora/controller/EventController.java
  backend/src/main/java/com/woowacourse/moragora/dto/AttendanceResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/AttendancesResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/ParticipantResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Status.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/support/EventFixtures.java
Labels: 🔧 feature, 🌾 backend

#320 [FE] API 수정, 추가 사항 mocking 반영
  frontend/src/mocks/fixtures/events_new.ts
  frontend/src/mocks/fixtures/meetings_new.ts
  frontend/src/mocks/handlers/attendanceHandler_new.ts
  frontend/src/mocks/handlers/eventHandler_new.ts
  frontend/src/mocks/handlers/index_new.ts
  frontend/src/mocks/handlers/meetingHandler_new.ts
  frontend/src/types/attendanceType_new.ts
  frontend/src/types/eventType_new.ts
  frontend/src/types/meetingType_new.ts
  frontend/src/types/userType_new.ts
Labels: 🔧 feature, 🍚 frontend

#301 [BE] 미팅 단일조회 API 수정
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/ParticipantResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/ParticipantAttendances.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/support/UserFixtures.java
Labels: 🔧 feature, 🌾 backend

#298 [BE] 출석 제출 API 수정
  backend/src/main/java/com/woowacourse/moragora/controller/AttendanceController.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserAttendanceRequest.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/NotCheckInTimeException.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
Labels: 🔧 feature, 🌾 backend

#324 [FE] 8월 11일 수정, 추가된 API 모킹
  frontend/src/mocks/fixtures/meetings_new.ts
  frontend/src/mocks/handlers/meetingHandler_new.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/types/meetingType_new.ts
  frontend/src/types/userType_new.ts
Labels: 🔧 feature, 🍚 frontend

#326 [FE] 스토리북에서 emotion Component selector 사용 시 에러 픽스
  frontend/.storybook/.babelrc
Labels: 🐞 bug, 🍚 frontend

#327 [FE] storybook babelrc emotion plugin 앞에 @ 추가
  frontend/.storybook/.babelrc
Labels: 🐞 bug, 🍚 frontend

#307 [BE] 가장 가까운 이벤트 단일 조회 구현, 미팅 목록 조회 API 수정
  backend/src/docs/asciidoc/event.asciidoc
  backend/src/docs/asciidoc/index.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/EventController.java
  backend/src/main/java/com/woowacourse/moragora/dto/EventRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/EventResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Event.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/support/ServerTimeManager.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/EventControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/support/EventFixtures.java
Labels: 🔧 feature, 🌾 backend

#306 [BE] Event 삭제 기능 구현
  backend/gradlew
  backend/src/docs/asciidoc/attendance.asciidoc
  backend/src/docs/asciidoc/event.asciidoc
  backend/src/docs/asciidoc/index.asciidoc
  backend/src/docs/asciidoc/meeting.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/EventController.java
  backend/src/main/java/com/woowacourse/moragora/dto/EventCancelRequest.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/test/java/com/woowacourse/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/CommonControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/EventControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/EventServiceTest.java
Labels: 🔧 feature, 🌾 backend

#337 [FE] 폼 훅 리팩토링
  frontend/src/components/@shared/Calendar/AdvancedConfiguration/index.tsx
  frontend/src/hooks/useForm.ts
  frontend/src/pages/EventCreatePage/index.tsx
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
Labels: 🔧 feature, 🍚 frontend, 🛠 refactor

#331 [BE] 요청에 대해 LoginInterceptor 적용, 테스트 추가 및 hotfix
  backend/src/main/java/com/woowacourse/auth/config/AuthWebConfig.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
Labels: 🐞 bug, 🌾 backend

#347 [FE] 모임페이지 서브라우팅 및 네비게이션바 구현
  frontend/src/App.tsx
  frontend/src/components/layouts/AppLayout/AppLayout.styled.ts
  frontend/src/pages/MeetingDetailPage/MeetingDetailPage.styled.ts
  frontend/src/pages/MeetingDetailPage/index.tsx
  frontend/src/router/index.tsx
Labels: 🔧 feature, 🍚 frontend

#346 [BE] 요청에 대해 LoginInterceptor 적용, 테스트 추가
  backend/src/main/java/com/woowacourse/auth/config/AuthWebConfig.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
Labels: 🐞 bug, 🌾 backend

#321 [BE] Event 조회 API 추가
  backend/src/docs/asciidoc/event.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/EventController.java
  backend/src/main/java/com/woowacourse/moragora/dto/EventResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/EventsResponse.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/support/ServerTimeManager.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/EventControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/EventServiceTest.java
Labels: 🔧 feature, 🌾 backend

#360 [FE] 커피스택 페이지 변경된 API 적용 및 스타일 수정
  frontend/src/apis/eventApis.ts
  frontend/src/apis/meetingApis.ts
  frontend/src/components/CoffeeStackItem/CoffeeStackItem.styled.ts
  frontend/src/components/CoffeeStackItem/index.tsx
  frontend/src/components/CoffeeStackModal/index.tsx
  frontend/src/components/ModalPortal/ModalPortal.styled.ts
  frontend/src/consts/index.ts
  frontend/src/mocks/handlers/eventHandler.ts
  frontend/src/pages/CoffeeStackPage/CoffeeStackPage.stories.jsx
  frontend/src/pages/CoffeeStackPage/CoffeeStackPage.styled.ts
  frontend/src/pages/CoffeeStackPage/index.tsx
  frontend/src/pages/EventCreatePage/EventCreatePage.styled.ts
  frontend/src/pages/EventCreatePage/index.tsx
  frontend/src/pages/MeetingDetailPage/MeetingDetailPage.styled.ts
  frontend/src/pages/MeetingDetailPage/index.tsx
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/router/index.tsx
  frontend/src/utils/request.ts
Labels: 🔧 feature, 🍚 frontend

#342 [BE] 스케줄링을 활용해 출석 시간이 지나면 출석부 지각으로 변경
  backend/build.gradle
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/config/TimeZoneConfig.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Event.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/Scheduler.java
  backend/src/main/java/com/woowacourse/moragora/support/ServerTimeManager.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/EventControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/SchedulerTest.java
  backend/src/test/java/com/woowacourse/moragora/support/DataSupport.java
Labels: 🔧 feature, 🌾 backend

#363 [FE] 모임 페이지 하위에 일정 페이지 UI 및 기능 구현
  frontend/src/components/@shared/Calendar/DateCell/DateCell.styled.ts
  frontend/src/components/@shared/Calendar/DateCell/index.tsx
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/contexts/calendarContext.tsx
  frontend/src/mocks/handlers/eventHandler.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/CalendarPage/CalendarPage.stories.jsx
  frontend/src/pages/CalendarPage/CalendarPage.styled.ts
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/pages/CoffeeStackPage/index.tsx
  frontend/src/pages/EventCreatePage/index.tsx
  frontend/src/pages/MeetingDetailPage/MeetingDetailPage.styled.ts
  frontend/src/pages/MeetingDetailPage/index.tsx
  frontend/src/router/index.tsx
  frontend/src/types/eventType.ts
  frontend/src/types/queryType.ts
Labels: 🔧 feature, 🍚 frontend

#334 [BE] 출석 초기화 시점 변경에 따른 출석 조회 로직 수정
  backend/src/main/java/com/woowacourse/moragora/dto/AttendanceResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/ParticipantAttendances.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingAttendancesTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/SchedulerTest.java
Labels: 🌾 backend, 🛠 refactor

#333 [BE] 유저의 닉네임과 비밀번호 수정 기능
  backend/src/docs/asciidoc/user.asciidoc
  backend/src/main/java/com/woowacourse/auth/exception/AuthenticationFailureException.java
  backend/src/main/java/com/woowacourse/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/NicknameRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/PasswordRequest.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/ParticipantAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/exception/user/InvalidPasswordException.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/auth/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/UserTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
Labels: 🔧 feature, 🌾 backend

#365 [FE] 모임 페이지 하위에 마스터 및 일반 참가자 모임 설정 페이지 구현
  frontend/cypress/e2e/app.cy.ts
  frontend/src/apis/meetingApis.ts
  frontend/src/components/CoffeeStackModal/CoffeeStackModal.styled.ts
  frontend/src/mocks/fixtures/meetings.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/pages/CoffeeStackPage/index.tsx
  frontend/src/pages/MeetingConfigPage/MasterAssignSection/MasterAssignSection.stories.jsx
  frontend/src/pages/MeetingConfigPage/MasterAssignSection/MasterAssignSection.styled.ts
  frontend/src/pages/MeetingConfigPage/MasterAssignSection/index.tsx
  frontend/src/pages/MeetingConfigPage/MeetingConfigPage.styled.ts
  frontend/src/pages/MeetingConfigPage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingDetailPage/MeetingDetailPage.styled.ts
  frontend/src/router/index.tsx
  frontend/src/types/meetingType.ts
Labels: 🔧 feature, 🍚 frontend

#372 [FE] 출석부 페이지 구현
  frontend/src/apis/userApis.ts
  frontend/src/components/CheckMeetingItem/CheckMeetingItem.stories.jsx
  frontend/src/components/CheckMeetingItem/CheckMeetingItem.styled.ts
  frontend/src/components/CheckMeetingItem/index.tsx
  frontend/src/components/UserItem/UserItem.styled.ts
  frontend/src/components/UserItem/index.tsx
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/consts/index.ts
  frontend/src/pages/CheckInPage/CheckInPage.stories.jsx
  frontend/src/pages/CheckInPage/CheckInPage.styled.ts
  frontend/src/pages/CheckInPage/index.tsx
  frontend/src/router/index.tsx
  frontend/src/types/attendanceType.ts
Labels: 🔧 feature, 🍚 frontend

#339 [BE] 미팅 마스터 위임 구현
  backend/src/docs/asciidoc/meeting.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MasterRequest.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/Participant.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#375 [FE] 페이지 메타 태그 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/logo.png
  frontend/public/manifest.json
  frontend/src/assets/logo.svg
  frontend/webpack/webpack.common.js
Labels: 🔧 feature, 🍚 frontend

#336 [BE] 유저 탈퇴 기능 구현
  backend/src/docs/asciidoc/user.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserDeleteRequest.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
Labels: 🔧 feature, 🌾 backend

#351 [BE] 소나큐브 적용
  .github/workflows/sonarqube.yml
  backend/build.gradle
Labels: ⚙️ infra, 🌾 backend

#364 [BE] Event 생성 API 적용(생성 or 수정) API로 변경
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Event.java
  backend/src/main/java/com/woowacourse/moragora/entity/Events.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/EventService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/EventsTest.java
  backend/src/test/java/com/woowacourse/moragora/service/EventServiceTest.java
Labels: 🔧 feature, 🌾 backend

#383 [FE] UI/UX 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@shared/Avatar/Avatar.styled.ts
  frontend/src/components/@shared/Calendar/AdvancedConfiguration/AdvancedConfiguration.styled.ts
  frontend/src/components/@shared/Calendar/Calendar.styled.ts
  frontend/src/components/@shared/Calendar/DateCell/DateCell.styled.ts
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/@shared/Checkbox/Checkbox.styled.ts
  frontend/src/components/@shared/InputHint/InputHint.styled.ts
  frontend/src/components/@shared/MenuLink/MenuLink.styled.ts
  frontend/src/components/@shared/ModalWindow/ModalWindow.styled.ts
  frontend/src/components/@shared/ModalWindow/index.tsx
  frontend/src/components/CheckMeetingItem/CheckMeetingItem.styled.ts
  frontend/src/components/CheckMeetingItem/index.tsx
  frontend/src/components/CoffeeStackItem/CoffeeStackItem.styled.ts
  frontend/src/components/CoffeeStackItemSkeleton/CoffeeStackItemSkeleton.styled.ts
  frontend/src/components/CoffeeStackModal/CoffeeStackModal.styled.ts
  frontend/src/components/CoffeeStackModal/index.tsx
  frontend/src/components/Logo/index.tsx
  frontend/src/components/MeetingItem/MeetingItem.styled.ts
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/components/MeetingItemSkeleton/MeetingItemSkeleton.styled.ts
  frontend/src/components/NicknameInput/NicknameInput.styled.ts
  frontend/src/components/UserItem/UserItem.styled.ts
  frontend/src/components/layouts/Footer/Footer.styled.ts
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/components/layouts/Header/Header.styled.ts
  frontend/src/contexts/userContext.tsx
  frontend/src/pages/CoffeeStackPage/CoffeeStackPage.styled.ts
  frontend/src/pages/CoffeeStackPage/index.tsx
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingDetailPage/MeetingDetailPage.styled.ts
  frontend/src/pages/MeetingDetailPage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/pages/UserConfigPage/index.tsx
Labels: 🐞 bug, 🍚 frontend

#382 [BE] 소나큐브 서브모듈 적용
  .github/workflows/sonarqube.yml
Labels: 🔧 feature, ⚙️ infra, 🌾 backend

#385 [FE] OAuth 로그인 기능 구현
  frontend/src/apis/userApis.ts
  frontend/src/assets/google-icon.svg
  frontend/src/components/GoogleLoginButton/GoogelLoginButton.stories.jsx
  frontend/src/components/GoogleLoginButton/GoogleLoginButton.styled.ts
  frontend/src/components/GoogleLoginButton/index.tsx
  frontend/src/consts/auth.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/LoginPage/LoginPage.styled.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/router/index.tsx
  frontend/src/types/userType.ts
  frontend/webpack/webpack.common.js
Labels: 🔧 feature, 🍚 frontend

#387 [BE] 소나큐브 서브모듈 토큰 에러
  .github/workflows/sonarqube.yml
Labels: 🐞 bug, ⚙️ infra, 🌾 backend

#388 [FE] query status에 idle 추가
  frontend/src/consts/index.ts
  frontend/src/hooks/useQuery.ts
  frontend/src/types/queryType.ts
Labels: 🐞 bug, 🍚 frontend

#390 [BE] 소나큐브 서브모듈토큰 에러
  .github/workflows/sonarqube.yml
Labels: 🐞 bug, ⚙️ infra, 🌾 backend

#389 [FE] 출석부 페이지 디자인 수정
  frontend/src/assets/empty-inbox.svg
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/pages/CheckInPage/CheckInPage.styled.ts
  frontend/src/pages/CheckInPage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
Labels: 🔧 feature, 🍚 frontend

#392 [FE] 일정 설정 페이지 input disabled 수정
  frontend/src/apis/eventApis.ts
  frontend/src/mocks/handlers/eventHandler.ts
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
Labels: 🔧 feature, 🍚 frontend

#379 [BE] 미팅 삭제 기능
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/repository/EventRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/MeetingRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/EventRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#394 [FE] 구글 로그인 버튼 스타일 수정
  frontend/src/components/GoogleLoginButton/GoogleLoginButton.styled.ts
  frontend/src/components/GoogleLoginButton/index.tsx
Labels: 🍚 frontend, 🛠 refactor

#403 [FE] 버그 수정
  frontend/src/apis/eventApis.ts
  frontend/src/apis/meetingApis.ts
  frontend/src/mocks/handlers/eventHandler.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/pages/MeetingConfigPage/index.tsx
  frontend/src/pages/UnregisterPage/index.tsx
  frontend/src/types/eventType.ts
Labels: 🐞 bug, 🍚 frontend

#405 [FE] 캘린더 페이지 버그 수정
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/contexts/calendarContext.tsx
  frontend/src/pages/CalendarPage/index.tsx
Labels: 🐞 bug, 🍚 frontend

#407 [FE] 출석부 에러 페이지 버그 수정
  frontend/src/pages/CheckInPage/index.tsx
  frontend/src/pages/MeetingDetailPage/index.tsx
Labels: 🐞 bug, 🍚 frontend

#408 [FE] favicons 설치
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/webpack/webpack.common.js
Labels: 🐞 bug, ⚙️ infra, 🍚 frontend

#409 [FE] 출결 페이지 버그 수정
  frontend/src/pages/CheckInPage/index.tsx
Labels: 🐞 bug, 🍚 frontend
