Repository woowacourse-teams/2022-moragora, pull requests merged in 2022-10, with the labels that each got.

#492 [BE] 스케줄링이 10분 단위로 동작하도록 변경
  backend/src/main/java/com/woowacourse/MoragoraApplication.java
  backend/src/main/java/com/woowacourse/moragora/application/AttendanceScheduler.java
  backend/src/main/java/com/woowacourse/moragora/application/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/application/EventService.java
  backend/src/main/java/com/woowacourse/moragora/application/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/application/ScheduledTasks.java
  backend/src/main/java/com/woowacourse/moragora/application/Scheduler.java
  backend/src/main/java/com/woowacourse/moragora/config/SchedulerConfig.java
  backend/src/main/java/com/woowacourse/moragora/domain/attendance/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/support/SchedulerStartUp.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/AttendanceSchedulerTest.java
  backend/src/test/java/com/woowacourse/moragora/application/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/ScheduledTasksTest.java
  backend/src/test/java/com/woowacourse/moragora/application/SchedulerTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/attendance/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/support/fixture/EventFixtures.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#485 [BE] 서비스 테스트 @Transactional 제거 및 DatabaseCleanup 빈 생명주기 콜백 방식 변경
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/CommonAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/EventAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/AttendanceSchedulerTest.java
  backend/src/test/java/com/woowacourse/moragora/application/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/UserServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/auth/MasterAspectTest.java
  backend/src/test/java/com/woowacourse/moragora/support/DataSupport.java
  backend/src/test/java/com/woowacourse/moragora/support/DatabaseCleanUp.java
Labels: 🌾 backend, 🛠 refactor

#496 [BE] ManyToOne FetchType Lazy로 일괄 수정
  backend/src/main/java/com/woowacourse/moragora/domain/attendance/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/domain/event/Event.java
  backend/src/main/java/com/woowacourse/moragora/domain/meeting/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/domain/participant/Participant.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#490 [BE] logback-spring 에 dummy DB 정보 추가
  backend/src/main/resources/logback-spring.xml
Labels: 🔧 feature, 🌾 backend

#501 [BE] 미팅 조회에서의 findById 최적화
  backend/src/main/java/com/woowacourse/moragora/application/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/domain/exception/BusinessException.java
  backend/src/main/java/com/woowacourse/moragora/domain/meeting/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/domain/meeting/MeetingRepository.java
  backend/src/main/java/com/woowacourse/moragora/domain/participant/Participant.java
  backend/src/main/java/com/woowacourse/moragora/domain/participant/ParticipantAndCount.java
  backend/src/main/java/com/woowacourse/moragora/domain/query/QueryRepository.java
  backend/src/main/java/com/woowacourse/moragora/domain/user/User.java
  backend/src/main/java/com/woowacourse/moragora/domain/user/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/dto/response/meeting/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/response/meeting/ParticipantResponse.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/meeting/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/meeting/MeetingTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/participant/ParticipantTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/query/QueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/user/UserTest.java
  backend/src/test/java/com/woowacourse/moragora/presentation/MeetingControllerTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#509 [FE] 유효하지 않은 accessToken에 대한 에러 핸들링
  frontend/src/App.tsx
  frontend/src/contexts/userContext.tsx
  frontend/src/hooks/useInterceptor.ts
  frontend/src/pages/PasswordUpdatePage/index.tsx
  frontend/src/pages/SettingsPage/index.tsx
  frontend/src/pages/UnregisterPage/index.tsx
  frontend/src/pages/UserConfigPage/index.tsx
  frontend/src/types/requestType.ts
  frontend/src/utils/request.ts
Labels: 🐞 bug, 🍚 frontend

#512 [FE] Mobile 상단, 하단 navigation Layout 버그 수정
  frontend/emotion.d.ts
  frontend/src/App.styled.ts
  frontend/src/App.tsx
  frontend/src/components/@shared/Calendar/DateCell/DateCell.styled.ts
  frontend/src/components/@shared/ModalWindow/ModalWindow.styled.ts
  frontend/src/components/CoffeeStackModal/CoffeeStackModal.styled.ts
  frontend/src/components/MemberAddInput/MemberAddInput.styled.ts
  frontend/src/components/ModalPortal/ModalPortal.styled.ts
  frontend/src/components/layouts/AppLayout/AppLayout.styled.ts
  frontend/src/components/layouts/AppLayout/index.tsx
  frontend/src/components/layouts/Body/Body.styled.ts
  frontend/src/components/layouts/Footer/Footer.styled.ts
  frontend/src/components/layouts/Header/Header.styled.ts
  frontend/src/pages/CoffeeStackPage/CoffeeStackPage.styled.ts
  frontend/src/pages/MeetingConfigPage/MasterAssignSection/MasterAssignSection.styled.ts
  frontend/src/pages/MeetingDetailPage/MeetingDetailPage.styled.ts
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/styles/GlobalStyles/index.tsx
  frontend/src/styles/themes/theme.ts
  frontend/src/utils/debounce.ts
Labels: 🐞 bug, 🍚 frontend

#526 [BE] GIthub Action jacoco, test 관련 결과 안보이게 수정
  .github/workflows/backend-ci.yml
  backend/src/docs/asciidoc/attendance.asciidoc
Labels: ⚙️ infra

#529 [BE] 배포한 서버가 스케쥴러인지를 나타내는 API 개발
  backend/build.gradle
  backend/src/main/java/com/woowacourse/moragora/presentation/StatusCheckController.java
  backend/src/test/java/com/woowacourse/moragora/application/auth/RefreshTokenProviderTest.java
Labels: 🔧 feature, 🌾 backend

#523 [BE] 단일 미팅에 대한 isActive를 조회하는 API
  backend/src/main/java/com/woowacourse/moragora/application/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/application/ServerTimeManager.java
  backend/src/main/java/com/woowacourse/moragora/dto/response/meeting/MeetingActiveResponse.java
  backend/src/main/java/com/woowacourse/moragora/presentation/MeetingController.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/presentation/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/support/fixture/EventFixtures.java
Labels: 🔧 feature, 🌾 backend

#533 [BE] Oauth 로그인 시 이미 가입된 이메일인 경우 해당 유저 데이터로 로그인
  backend/src/main/java/com/woowacourse/moragora/application/UserService.java
  backend/src/main/java/com/woowacourse/moragora/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/moragora/domain/user/UserRepository.java
  backend/src/test/java/com/woowacourse/moragora/application/UserServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/auth/AuthServiceTest.java
Labels: 🔧 feature, 🌾 backend

#554 [FE] Attendances 쿼리 키 수정
  frontend/src/pages/CheckInPage/AttendanceSection/index.tsx
Labels: 🐞 bug, 🍚 frontend

#558 [BE] 모임 삭제 요청 시 Beacon 테이블 함께 삭제
  backend/src/main/java/com/woowacourse/moragora/application/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/domain/geolocation/BeaconRepository.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/application/MeetingServiceTest.java
Labels: 🐞 bug, 🌾 backend

#566 [FE] 일정 생성 페이지 UI/UX 개선
  frontend/emotion.d.ts
  frontend/src/components/@shared/Calendar/Calendar.styled.ts
  frontend/src/components/@shared/Calendar/DateCell/DateCell.styled.ts
  frontend/src/components/@shared/Calendar/MonthControlBox/MonthControlBox.styled.ts
  frontend/src/components/@shared/Calendar/MonthControlBox/index.tsx
  frontend/src/components/@shared/Calendar/WeekCell/WeekCell.styled.ts
  frontend/src/components/@shared/Calendar/index.tsx
  frontend/src/components/@shared/TimePicker/TimePicker.stories.jsx
  frontend/src/components/@shared/TimePicker/TimePicker.styled.ts
  frontend/src/components/@shared/TimePicker/index.tsx
  frontend/src/contexts/calendarContext.tsx
  frontend/src/pages/CalendarPage/CalendarPage.styled.ts
  frontend/src/pages/CalendarPage/index.tsx
  frontend/src/pages/MeetingDetailPage/index.tsx
  frontend/src/styles/themes/theme.ts
Labels: 🔧 feature, 🍚 frontend

#540 [BE] 일정 생성 관련 API 수정
  backend/src/main/java/com/woowacourse/moragora/application/EventService.java
  backend/src/main/java/com/woowacourse/moragora/domain/event/Event.java
  backend/src/main/java/com/woowacourse/moragora/exception/event/IllegalAlreadyStartedEventException.java
  backend/src/test/java/com/woowacourse/moragora/application/EventServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/domain/event/EventTest.java
Labels: 🐞 bug, 🌾 backend
