Repository woowacourse-teams/2022-moragora, pull requests merged in 2022-07, with the labels that each got.

#6 [BE] 프로젝트 환경설정
  backend/.gitignore
  backend/.idea/.gitignore
  backend/.idea/.name
  backend/.idea/codeStyles/Project.xml
  backend/.idea/codeStyles/codeStyleConfig.xml
  backend/.idea/compiler.xml
  backend/.idea/jarRepositories.xml
  backend/.idea/misc.xml
  backend/.idea/vcs.xml
  backend/HELP.md
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/woowacourse/moragora/MoragoraApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/woowacourse/moragora/MoragoraApplicationTests.java
Labels: ⚙️ infra

#11 [FE] .gitignore 작성
  frontend/.gitignore
Labels: ⚙️ infra

#16 [FE] 리액트 앱을 만들기 위한 환경 설정
  frontend/.babelrc
  frontend/.eslintrc.js
  frontend/.prettierignore
  frontend/.prettierrc.js
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/mockServiceWorker.js
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/styles/App.css
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: ⚙️ infra, 🍚 frontend

#22 [FE] Discussion UI 구현
  frontend/.eslintrc.js
  frontend/.storybook/preview.js
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/@shared/Button/Button.stories.jsx
  frontend/src/components/@shared/Button/Button.styled.ts
  frontend/src/components/@shared/Button/index.tsx
  frontend/src/components/@shared/DialogButton/DialogButton.stories.jsx
  frontend/src/components/@shared/DialogButton/DialogButton.styled.ts
  frontend/src/components/@shared/DialogButton/index.tsx
  frontend/src/components/DiscussionItem/DiscussionItem.stories.jsx
  frontend/src/components/DiscussionItem/DiscussionItem.styled.ts
  frontend/src/components/DiscussionItem/index.tsx
  frontend/src/components/Logo/Logo.styled.ts
  frontend/src/components/Logo/index.tsx
  frontend/src/components/layouts/Content/Content.stories.jsx
  frontend/src/components/layouts/Content/Content.styled.ts
  frontend/src/components/layouts/Content/index.tsx
  frontend/src/components/layouts/Footer/Footer.stories.jsx
  frontend/src/components/layouts/Footer/Footer.styled.ts
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/components/layouts/Header/Header.stories.jsx
  frontend/src/components/layouts/Header/Header.styled.ts
  frontend/src/components/layouts/Header/index.tsx
  frontend/src/components/layouts/MobileLayout/MobileLayout.stories.jsx
  frontend/src/components/layouts/MobileLayout/MobileLayout.styled.ts
  frontend/src/components/layouts/MobileLayout/index.tsx
  frontend/src/pages/DiscussionDetailPage/DiscussionDetailPage.stories.jsx
  frontend/src/pages/DiscussionDetailPage/DiscussionDetailPage.styled.ts
  frontend/src/pages/DiscussionDetailPage/index.tsx
  frontend/src/pages/DiscussionListPage/DiscussionListPage.stories.jsx
  frontend/src/pages/DiscussionListPage/DiscussionListPage.styled.ts
  frontend/src/pages/DiscussionListPage/index.tsx
  frontend/src/pages/DiscussionPostPage/DiscussionPostPage.stories.jsx
  frontend/src/pages/DiscussionPostPage/DiscussionPostPage.styled.ts
  frontend/src/pages/DiscussionPostPage/index.tsx
  frontend/src/styles/App.css
  frontend/src/styles/GlobalStyles/fontFamily.ts
  frontend/src/styles/GlobalStyles/index.tsx
  frontend/src/styles/GlobalStyles/normalize.ts
  frontend/src/styles/GlobalStyles/reset.ts
Labels: 🛠 feature, 🍚 frontend

#28 [BE] Discussion 단일 조회 기능 추가 및 테스트
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/controller/DiscussionController.java
  backend/src/main/java/com/woowacourse/moragora/dto/DiscussionResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Discussion.java
  backend/src/main/java/com/woowacourse/moragora/exception/DiscussionNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/repository/DiscussionRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/DiscussionService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/DiscussionAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/DiscussionControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/DiscussionRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/DiscussionServiceTest.java
  backend/src/test/resources/truncate.sql
Labels: 🛠 feature, 🌾 backend

#29 [FE] API Mocking 및 연결, 테스트
  frontend/.eslintrc.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DiscussionItem/index.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/fixtures/Discussions.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/discussionHandlers.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/pages/DiscussionDetailPage/index.tsx
  frontend/src/pages/DiscussionListPage/index.tsx
  frontend/src/pages/DiscussionPostPage/index.tsx
  frontend/src/types/DiscussionTypes.ts
  frontend/tsconfig.json
Labels: 🛠 feature, 🍚 frontend

#34 [FE] Opinion UI 구현
  frontend/src/components/@shared/Input/Input.stories.jsx
  frontend/src/components/@shared/Input/Input.styled.ts
  frontend/src/components/@shared/Input/index.tsx
  frontend/src/components/@shared/TextArea/TextArea.stories.jsx
  frontend/src/components/@shared/TextArea/TextArea.styled.ts
  frontend/src/components/@shared/TextArea/index.tsx
  frontend/src/components/OpinionItem/OpinionItem.stories.jsx
  frontend/src/components/OpinionItem/OpinionItem.styled.ts
  frontend/src/components/OpinionItem/index.tsx
  frontend/src/pages/DiscussionDetailPage/DiscussionDetailPage.styled.ts
  frontend/src/pages/DiscussionDetailPage/index.tsx
  frontend/src/pages/DiscussionPostPage/DiscussionPostPage.styled.ts
  frontend/src/pages/DiscussionPostPage/index.tsx
  frontend/src/types/OpinionTypes.ts
Labels: 🛠 feature, 🍚 frontend

#36 [BE] Opinion 생성 기능 추가 및 테스트
  backend/src/main/java/com/woowacourse/moragora/controller/OpinionController.java
  backend/src/main/java/com/woowacourse/moragora/dto/OpinionRequest.java
  backend/src/main/java/com/woowacourse/moragora/entity/Opinion.java
  backend/src/main/java/com/woowacourse/moragora/repository/DiscussionRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/OpinionRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/OpinionService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/OpinionAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/DiscussionControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/OpinionControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/OpinionRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/OpinionServiceTest.java
  backend/src/test/resources/truncate.sql
Labels: 🛠 feature, 🌾 backend

#37 [FE] Opinion 기능 구현
  frontend/src/mocks/fixtures/Opinions.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/opinionHandlers.ts
  frontend/src/pages/DiscussionDetailPage/index.tsx
  frontend/src/types/OpinionTypes.ts
Labels: 🛠 feature, 🍚 frontend

#42 [FE] 기능을 환경설정 직후로 롤백
  frontend/src/components/DiscussionItem/DiscussionItem.stories.jsx
  frontend/src/components/DiscussionItem/DiscussionItem.styled.ts
  frontend/src/components/DiscussionItem/index.tsx
  frontend/src/components/OpinionItem/OpinionItem.stories.jsx
  frontend/src/components/OpinionItem/OpinionItem.styled.ts
  frontend/src/components/OpinionItem/index.tsx
  frontend/src/mocks/fixtures/Discussions.ts
  frontend/src/mocks/fixtures/Opinions.ts
  frontend/src/mocks/handlers/discussionHandlers.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/opinionHandlers.ts
  frontend/src/pages/DiscussionDetailPage/DiscussionDetailPage.stories.jsx
  frontend/src/pages/DiscussionDetailPage/DiscussionDetailPage.styled.ts
  frontend/src/pages/DiscussionDetailPage/index.tsx
  frontend/src/pages/DiscussionListPage/DiscussionListPage.stories.jsx
  frontend/src/pages/DiscussionListPage/DiscussionListPage.styled.ts
  frontend/src/pages/DiscussionListPage/index.tsx
  frontend/src/pages/DiscussionPostPage/DiscussionPostPage.stories.jsx
  frontend/src/pages/DiscussionPostPage/DiscussionPostPage.styled.ts
  frontend/src/pages/DiscussionPostPage/index.tsx
  frontend/src/types/DiscussionTypes.ts
  frontend/src/types/OpinionTypes.ts
Labels: ⚙️ infra, 🍚 frontend

#45 [BE] Meeting 단일 조회 기능 추가
  backend/src/main/java/com/woowacourse/moragora/ApplicationRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/repository/MeetingRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
Labels: 🛠 feature, 🌾 backend

#47 [BE] 모임별 유저 목록 조회 기능 추가 및 테스트
  backend/src/main/java/com/woowacourse/moragora/ApplicationRunner.java
  backend/src/main/java/com/woowacourse/moragora/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/User.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
Labels: 🛠 feature, 🌾 backend

#49 [FE] 출결 체크 페이지 UI 구현
  frontend/src/pages/MeetingPage/MeetingPage.stories.jsx
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
Labels: 🛠 feature, 🍚 frontend

#52 [FE] 출결 체크 페이지 기능 구현
  frontend/src/hooks/useFetch.ts
  frontend/src/mocks/fixtures/meeting.ts
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/MeetingPage/index.tsx
Labels: 🛠 feature, 🍚 frontend

#54 [FE] UI 추가 구현 및 메인 페이지 구현
  frontend/index.d.ts
  frontend/src/App.tsx
  frontend/src/assets/logo.svg
  frontend/src/components/@shared/DialogButton/DialogButton.styled.ts
  frontend/src/components/@shared/ErrorIcon/ErrorIcon.stories.jsx
  frontend/src/components/@shared/ErrorIcon/ErrorIcon.styled.ts
  frontend/src/components/@shared/ErrorIcon/index.tsx
  frontend/src/components/@shared/ModalWindow/ModalWindow.stories.jsx
  frontend/src/components/@shared/ModalWindow/ModalWindow.styled.ts
  frontend/src/components/@shared/ModalWindow/index.tsx
  frontend/src/components/@shared/Spinner/Spinner.stories.jsx
  frontend/src/components/@shared/Spinner/Spinner.styled.ts
  frontend/src/components/@shared/Spinner/index.tsx
  frontend/src/components/Logo/index.tsx
  frontend/src/components/ModalPortal/ModalPortal.styled.ts
  frontend/src/components/ModalPortal/index.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/index.tsx
  frontend/src/pages/MeetingPage/MeetingPage.stories.jsx
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
  frontend/tsconfig.json
Labels: 🛠 feature, 🍚 frontend

#56 [FE] Modal 메시지 수정
  frontend/src/pages/MeetingPage/index.tsx
Labels: 🐞 bug, 🍚 frontend

#61 [BE] API 명세에 맞게 Meeting 변경 및 테스트 추가
  backend/src/main/java/com/woowacourse/moragora/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#64 [FE] Sprint 1 CSS 리팩토링
  frontend/.storybook/preview.js
  frontend/emotion.d.ts
  frontend/src/App.tsx
  frontend/src/components/@shared/Button/Button.styled.ts
  frontend/src/components/@shared/DialogButton/DialogButton.styled.ts
  frontend/src/components/@shared/DivideLine/DivideLine.stories.jsx
  frontend/src/components/@shared/DivideLine/DivideLine.styled.ts
  frontend/src/components/@shared/DivideLine/index.tsx
  frontend/src/components/@shared/ErrorIcon/ErrorIcon.stories.jsx
  frontend/src/components/@shared/ErrorIcon/ErrorIcon.styled.ts
  frontend/src/components/@shared/ErrorIcon/index.tsx
  frontend/src/components/@shared/Input/Input.styled.ts
  frontend/src/components/@shared/ModalWindow/ModalWindow.styled.ts
  frontend/src/components/@shared/ModalWindow/index.tsx
  frontend/src/components/@shared/RadioButton/RadioButton.stories.jsx
  frontend/src/components/@shared/RadioButton/RadioButton.styled.ts
  frontend/src/components/@shared/RadioButton/index.tsx
  frontend/src/components/@shared/ReloadButton/ReloadButton.stories.jsx
  frontend/src/components/@shared/ReloadButton/ReloadButton.styled.ts
  frontend/src/components/@shared/ReloadButton/index.tsx
  frontend/src/components/@shared/Spinner/Spinner.styled.ts
  frontend/src/components/@shared/Spinner/index.tsx
  frontend/src/components/@shared/TextArea/TextArea.styled.ts
  frontend/src/components/Logo/Logo.styled.ts
  frontend/src/components/Logo/index.tsx
  frontend/src/components/layouts/Header/Header.styled.ts
  frontend/src/components/layouts/Header/index.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/styles/GlobalStyles/index.tsx
  frontend/src/styles/GlobalStyles/reset.ts
  frontend/src/styles/themes/theme.ts
  frontend/tsconfig.json
Labels: 🍚 frontend, 🛠 refactor

#71 [BE] Meeting 생성 기능 추가 및 테스트
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingRequest.java
  backend/src/main/java/com/woowacourse/moragora/repository/MeetingRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#73 [BE] 당일 출석을 제출하는 기능 수정 및 Attendance 생성
  backend/build.gradle
  backend/src/main/java/com/woowacourse/moragora/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/MoragoraApplication.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserAttendanceRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserAttendancesRequest.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/User.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/MoragoraApplicationTests.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#74 [FE] useForm 훅 분리
  frontend/src/components/@shared/RadioButton/index.tsx
  frontend/src/hooks/useForm.ts
  frontend/src/pages/MeetingPage/index.tsx
Labels: 🍚 frontend, 🛠 refactor

#75 [BE] Meeting 단일 조회 기능 추가 구현
  backend/src/main/java/com/woowacourse/moragora/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/User.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#79 [BE] Meeting 생성 요청에 대한 예외 핸들링
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingRequest.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/exception/MeetingNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/IllegalStartEndDateException.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingTest.java
Labels: 🔧 feature, 🌾 backend

#80 [BE] Meeting 생성 시에 User 목록으로 Attendance 생성
  backend/src/main/java/com/woowacourse/moragora/MoragoraApplication.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#84 [FE] 모임 조회, 생성 페이지 구현 및 출결 페이지 수정
  frontend/src/assets/chevron-left.svg
  frontend/src/assets/coffee.svg
  frontend/src/assets/meeting.svg
  frontend/src/components/@shared/Checkbox/Checkbox.stories.jsx
  frontend/src/components/@shared/Checkbox/Checkbox.styled.ts
  frontend/src/components/@shared/Checkbox/index.tsx
  frontend/src/components/layouts/Header/Header.styled.ts
  frontend/src/components/layouts/Header/index.tsx
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.stories.jsx
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.styled.ts
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.stories.jsx
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
Labels: 🔧 feature, 🍚 frontend

#95 [FE] 로그인, 회원 가입, 이메일 중복 확인 API mocking 및 기능 연결
  frontend/src/hooks/useForm.ts
  frontend/src/mocks/fixtures/meeting.ts
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
Labels: 🔧 feature, 🍚 frontend

#91 [BE] 회원가입 기능 추가 및 테스트
  backend/src/main/java/com/woowacourse/moragora/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/User.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/EncodedPassword.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/RawPassword.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/exception/InvalidFormatException.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/main/java/com/woowacourse/moragora/util/CryptoEncoder.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/EncodedPasswordTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/RawPasswordTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/UserTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/util/CryptoEncoderTest.java
Labels: 🔧 feature, 🌾 backend

#104 [FE] 라우팅 구현 및 스토리북 설정 추가
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.stories.jsx
  frontend/src/App.tsx
  frontend/src/components/layouts/Header/index.tsx
  frontend/src/index.tsx
  frontend/src/mocks/fixtures/meeting.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/LoginPage/LoginPage.styled.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/MeetingPage/MeetingPage.stories.jsx
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
  frontend/src/router/index.tsx
  frontend/webpack.config.js
Labels: 🔧 feature, 🍚 frontend

#107 [FE] MeetingPage 스토리 라우터 설정 수정
  frontend/src/pages/MeetingPage/MeetingPage.stories.jsx
Labels: 🐞 bug, 🍚 frontend

#118 [FE] 컴포넌트 및 스타일 분리
  frontend/src/components/@shared/InputHint/InputHint.stories.jsx
  frontend/src/components/@shared/InputHint/InputHint.styled.ts
  frontend/src/components/@shared/InputHint/index.tsx
  frontend/src/components/CoffeeStackItem/CoffeeStackItem.stories.jsx
  frontend/src/components/CoffeeStackItem/CoffeeStackItem.styled.ts
  frontend/src/components/CoffeeStackItem/index.tsx
  frontend/src/components/MeetingItem/MeetingItem.stories.jsx
  frontend/src/components/MeetingItem/MeetingItem.styled.ts
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/components/UserItem/UserItem.stories.jsx
  frontend/src/components/UserItem/UserItem.styled.ts
  frontend/src/components/UserItem/index.tsx
  frontend/src/pages/LoginPage/LoginPage.styled.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.styled.ts
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/pages/RegisterPage/RegisterPage.styled.ts
  frontend/src/pages/RegisterPage/index.tsx
Labels: 🔧 feature, 🍚 frontend, 🛠 refactor

#117 [FE] 변경된 UI 반영
  frontend/src/App.stories.jsx
  frontend/src/assets/avatar.svg
  frontend/src/components/@shared/Avatar/Avatar.stories.jsx
  frontend/src/components/@shared/Avatar/Avatar.styled.ts
  frontend/src/components/@shared/Avatar/index.tsx
  frontend/src/components/layouts/Footer/Footer.styled.ts
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/components/layouts/Header/Header.stories.jsx
  frontend/src/components/layouts/Header/Header.styled.ts
  frontend/src/components/layouts/Header/index.tsx
  frontend/src/components/layouts/MobileLayout/MobileLayout.styled.ts
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.stories.jsx
  frontend/src/pages/MeetingListPage/MeetingListPage.stories.jsx
  frontend/src/styles/themes/theme.ts
Labels: 🔧 feature, 🍚 frontend

#102 [BE] 로그인 기능 추가 및 테스트
  backend/build.gradle
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/MoragoraApplication.java
  backend/src/main/java/com/woowacourse/auth/config/LoginArgumentResolver.java
  backend/src/main/java/com/woowacourse/auth/config/LoginInterceptor.java
  backend/src/main/java/com/woowacourse/auth/config/WebConfig.java
  backend/src/main/java/com/woowacourse/auth/controller/AuthController.java
  backend/src/main/java/com/woowacourse/auth/dto/LoginRequest.java
  backend/src/main/java/com/woowacourse/auth/dto/LoginResponse.java
  backend/src/main/java/com/woowacourse/auth/exception/LoginFailException.java
  backend/src/main/java/com/woowacourse/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/auth/support/Authentication.java
  backend/src/main/java/com/woowacourse/auth/support/AuthenticationPrincipal.java
  backend/src/main/java/com/woowacourse/auth/support/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/auth/support/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/EncodedPassword.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/auth/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/UserTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
Labels: 🔧 feature, 🌾 backend

#128 [BE] Meeting Controller에 Argument Resolver 적용
  backend/src/main/java/com/woowacourse/auth/config/LoginArgumentResolver.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
Labels: 🐞 bug, 🌾 backend

#124 [BE] keyword를 포함한 User정보를 찾는 기능 구현 및 테스트
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/SearchedUserResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/SearchedUsersResponse.java
  backend/src/main/java/com/woowacourse/moragora/exception/NoKeywordException.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
Labels: 🔧 feature, 🌾 backend

#144 [BE] 출석 제출 및 출석 마감 기능 추가 및 테스트
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserAttendanceRequest.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserAttendancesRequest.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Participant.java
  backend/src/main/java/com/woowacourse/moragora/entity/Status.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/exception/AttendanceNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/ClosingTimeExcessException.java
  backend/src/main/java/com/woowacourse/moragora/exception/ParticipantNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/RealServerTime.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/ServerTime.java
  backend/src/test/java/com/woowacourse/moragora/FakeServerTime.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#141 [BE] 이메일 중복 체크 기능
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/EmailCheckResponse.java
  backend/src/main/java/com/woowacourse/moragora/exception/NoParameterException.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
Labels: 🔧 feature, 🌾 backend

#148 [BE] Controller Test 동일한 환경을 위한 상위 클래스 분리
  backend/src/test/java/com/woowacourse/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
Labels: 🌾 backend

#146 [BE] 미팅 생성 시 유저에 대한 예외 처리
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/exception/IllegalParticipantException.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#133 [FE] 유저 조회 및 추가 기능
  frontend/src/components/MemberAddInput/MemberAddInput.stories.jsx
  frontend/src/components/MemberAddInput/MemberAddInput.styled.ts
  frontend/src/components/MemberAddInput/index.tsx
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/hooks/useQuerySelectItems.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.styled.ts
  frontend/src/pages/MeetingCreatePage/index.tsx
Labels: 🔧 feature, 🍚 frontend

#134 [FE] user attendance 체크 기능 추가
  frontend/src/components/UserItem/index.tsx
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/MeetingPage/MeetingPage.styled.ts
  frontend/src/pages/MeetingPage/index.tsx
Labels: 🔧 feature, 🍚 frontend

#150 [BE] 유저가 속한 전체 미팅 조회 기능
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingsResponse.java
  backend/src/main/java/com/woowacourse/moragora/repository/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/RealServerTime.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/ServerTime.java
  backend/src/test/java/com/woowacourse/moragora/FakeServerTime.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#155 [FE] 리팩토링
  frontend/.storybook/preview.js
  frontend/src/App.stories.jsx
  frontend/src/App.tsx
  frontend/src/components/@shared/Avatar/Avatar.styled.ts
  frontend/src/components/@shared/Avatar/index.tsx
  frontend/src/components/@shared/Button/index.tsx
  frontend/src/components/@shared/Checkbox/Checkbox.styled.ts
  frontend/src/components/@shared/Checkbox/index.tsx
  frontend/src/components/@shared/DialogButton/DialogButton.styled.ts
  frontend/src/components/@shared/ErrorIcon/index.tsx
  frontend/src/components/@shared/InputHint/index.tsx
  frontend/src/components/@shared/ReloadButton/ReloadButton.styled.ts
  frontend/src/components/@shared/Spinner/Spinner.styled.ts
  frontend/src/components/@shared/Spinner/index.tsx
  frontend/src/components/CoffeeStackItem/CoffeeStackItem.stories.jsx
  frontend/src/components/CoffeeStackItem/index.tsx
  frontend/src/components/Logo/index.tsx
  frontend/src/components/MeetingItem/MeetingItem.stories.jsx
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/components/MemberAddInput/MemberAddInput.stories.jsx
  frontend/src/components/MemberAddInput/index.tsx
  frontend/src/components/UserItem/index.tsx
  frontend/src/components/layouts/Header/index.tsx
  frontend/src/hooks/useForm.ts
  frontend/src/hooks/useQuerySelectItems.ts
  frontend/src/index.tsx
  frontend/src/mocks/fixtures/meeting.ts
  frontend/src/mocks/fixtures/users.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/LoginPage/LoginPage.stories.jsx
  frontend/src/pages/LoginPage/LoginPage.styled.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.stories.jsx
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.styled.ts
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.stories.jsx
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/MeetingPage/MeetingPage.stories.jsx
  frontend/src/pages/MeetingPage/index.tsx
  frontend/src/pages/RegisterPage/RegisterPage.stories.jsx
  frontend/src/pages/RegisterPage/RegisterPage.styled.ts
  frontend/src/pages/RegisterPage/index.tsx
  frontend/src/router/index.tsx
  frontend/src/styles/GlobalStyles/index.tsx
  frontend/src/types/meetingType.ts
  frontend/src/types/userType.ts
  frontend/src/utils/throttle.ts
  frontend/src/utils/timeUtil.ts
Labels: 🔧 feature, 🍚 frontend

#145 [BE] 미팅 단일 조회 시, 미팅 출석일수 구현
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/auth/config/AuthWebConfig.java
  backend/src/main/java/com/woowacourse/moragora/config/MoragoraWebConfig.java
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingsResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/RealTimeChecker.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/ServerTime.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/TimeChecker.java
  backend/src/main/java/com/woowacourse/moragora/util/CurrentDateTime.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/moragora/FakeTimeChecker.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/MeetingTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#153 [BE] 당일 출석부 초기 추가 기능
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend

#161 [FE] 모임 생성 API 모킹 및 기능 연결
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/MeetingCreatePage/MeetingCreatePage.styled.ts
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/types/meetingType.ts
  frontend/src/utils/timeUtil.ts
Labels: 🔧 feature, 🍚 frontend

#165 [FE] 인증 인가 구현 및 NotFound 페이지 구현
  frontend/.storybook/preview.js
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/contexts/userContext.tsx
  frontend/src/hooks/useContextValues.ts
  frontend/src/index.tsx
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/NotFoundPage/NotFoundPage.stories.jsx
  frontend/src/pages/NotFoundPage/NotFoundPage.styled.ts
  frontend/src/pages/NotFoundPage/index.tsx
  frontend/src/pages/SettingsPage/SettingsPage.stories.jsx
  frontend/src/pages/SettingsPage/SettingsPage.styled.tsx
  frontend/src/pages/SettingsPage/index.tsx
  frontend/src/router/Auth.tsx
  frontend/src/router/index.tsx
  frontend/src/types/userType.ts
Labels: 🔧 feature, 🍚 frontend

#175 [BE] 서버시간 응답 형식 Timestamp로 수정
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingsResponse.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#168 [FE] UI 추가 구현 및 버그 픽스
  frontend/public/index.html
  frontend/src/App.styled.ts
  frontend/src/App.tsx
  frontend/src/assets/NoSearchResult.svg
  frontend/src/components/CoffeeStackItem/index.tsx
  frontend/src/components/CoffeeStackItemSkeleton/CoffeeStackItemSkeleton.stories.jsx
  frontend/src/components/CoffeeStackItemSkeleton/CoffeeStackItemSkeleton.styled.ts
  frontend/src/components/CoffeeStackItemSkeleton/index.tsx
  frontend/src/components/MeetingItem/MeetingItem.styled.ts
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/components/MeetingItemSkeleton/MeetingItemSkeleton.stories.jsx
  frontend/src/components/MeetingItemSkeleton/MeetingItemSkeleton.styled.ts
  frontend/src/components/MeetingItemSkeleton/index.tsx
  frontend/src/components/UserItem/index.tsx
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/components/layouts/Header/index.tsx
  frontend/src/consts/index.ts
  frontend/src/contexts/userContext.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/hooks/useQuerySelectItems.ts
  frontend/src/mocks/configs/index.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/mocks/utils/index.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
  frontend/src/pages/SettingsPage/SettingsPage.styled.tsx
  frontend/src/pages/SettingsPage/index.tsx
  frontend/src/router/Auth.tsx
  frontend/src/router/index.tsx
  frontend/src/styles/GlobalStyles/index.tsx
  frontend/src/styles/GlobalStyles/keyframes.ts
  frontend/src/types/meetingType.ts
Labels: 🔧 feature, 🍚 frontend

#177 [BE] REST Docs 적용하기
  backend/build.gradle
  backend/src/docs/asciidoc/auth.asciidoc
  backend/src/docs/asciidoc/index.asciidoc
  backend/src/docs/asciidoc/meeting.asciidoc
  backend/src/docs/asciidoc/user.asciidoc
  backend/src/main/java/com/woowacourse/auth/config/AuthWebConfig.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingsResponse.java
  backend/src/test/java/com/woowacourse/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
Labels: 🔧 feature, 🌾 backend

#171 [BE] 당일 지각스택 반영 조건 구현
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🐞 bug, 🔧 feature, 🌾 backend

#181 [FE] 버그 픽스
  frontend/src/components/@shared/Checkbox/Checkbox.styled.ts
  frontend/src/components/MemberAddInput/index.tsx
  frontend/src/components/UserItem/UserItem.styled.ts
  frontend/src/components/layouts/Footer/index.tsx
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/RegisterPage/RegisterPage.styled.ts
  frontend/src/pages/RegisterPage/index.tsx
  frontend/src/styles/GlobalStyles/reset.ts
Labels: 🐞 bug, 🍚 frontend

#183 [FE] 유저별 참여 모임 전체 조회 API 변경 반영
  frontend/src/components/MeetingItem/MeetingItem.styled.ts
  frontend/src/components/MeetingItem/index.tsx
  frontend/src/hooks/useTimer.ts
  frontend/src/mocks/fixtures/meeting.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/types/meetingType.ts
Labels: 🔧 feature, 🍚 frontend

#182 [BE] 유저별 참여 모임 전체 조회 API 변경 반영
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingsResponse.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#188 [FE] p 태그 내부에 div 선언 에러 수정
  frontend/src/pages/MeetingListPage/MeetingListPage.styled.ts
  frontend/src/pages/MeetingListPage/index.tsx
Labels: 🐞 bug, 🍚 frontend

#186 [BE] Meeting 관련 메서드 리팩토링
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
Labels: 🌾 backend, 🛠 refactor

#185 [BE] 로그인한 User의 회원 정보 조회 기능
  backend/.gitignore
  backend/src/docs/asciidoc/user.asciidoc
  backend/src/main/java/com/woowacourse/moragora/controller/UserController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/ParticipantResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/SearchedUserResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/SearchedUsersResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/UserResponse.java
  backend/src/main/java/com/woowacourse/moragora/dto/UsersResponse.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#189 [BE] cross-origin 허용
  backend/src/main/java/com/woowacourse/auth/config/AuthWebConfig.java
Labels: 🔧 feature, 🌾 backend

#190 [FE] 개발 env 서버 url 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/UserItem/index.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/hooks/useQuerySelectItems.ts
  frontend/src/mocks/handlers/meetingHandler.ts
  frontend/src/mocks/handlers/userHandler.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MeetingCreatePage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
  frontend/webpack/webpack.common.js
Labels: ⚙️ infra, 🍚 frontend

#193 [BE] 출결 체크 시 status mapping 및 마감 시간 오류 수정
  backend/src/main/java/com/woowacourse/moragora/entity/Status.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/RealTimeChecker.java
Labels: 🐞 bug, 🌾 backend

#194 [FE] 회원가입 폼 nickname 인풋 pattern 수정
  frontend/src/pages/RegisterPage/index.tsx
Labels: 🐞 bug, 🍚 frontend

#198 [FE] 멤버 검색에 현재 유저 포함되는 버그 해결
  frontend/src/components/MemberAddInput/index.tsx
Labels: 🐞 bug, 🍚 frontend

#200 [BE] 비밀번호 검증 시 대문자 허용
  backend/src/main/java/com/woowacourse/moragora/dto/UserRequest.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/RawPassword.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/RawPasswordTest.java
Labels: 🐞 bug, 🌾 backend

#201 [FE] 타이머, 회원가입 버그 수정 및 자동 refetching
  frontend/src/hooks/useTimer.ts
  frontend/src/pages/MeetingListPage/index.tsx
  frontend/src/pages/RegisterPage/index.tsx
Labels: 🐞 bug, 🔧 feature, 🍚 frontend

#202 [FE] 닉네임 정규표현식 수정
  frontend/src/pages/RegisterPage/index.tsx
Labels: 🐞 bug, 🍚 frontend

#203 [FE] 테스트 용 시간 표시 제거
  frontend/src/pages/MeetingListPage/index.tsx
Labels: 🔧 feature, 🍚 frontend

#209 [BE] 패스워드 검증에 대한 책임 분리
  backend/src/main/java/com/woowacourse/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/EncodedPassword.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/UserTest.java
Labels: 🌾 backend, 🛠 refactor

#207 [BE] Exception 상속 구조로 분리 및 변경
  backend/src/main/java/com/woowacourse/auth/exception/AuthorizationFailureException.java
  backend/src/main/java/com/woowacourse/auth/exception/LoginFailException.java
  backend/src/main/java/com/woowacourse/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moragora/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/User.java
  backend/src/main/java/com/woowacourse/moragora/exception/AttendanceNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/ClientRuntimeException.java
  backend/src/main/java/com/woowacourse/moragora/exception/ClosingTimeExcessException.java
  backend/src/main/java/com/woowacourse/moragora/exception/IllegalParticipantException.java
  backend/src/main/java/com/woowacourse/moragora/exception/InvalidFormatException.java
  backend/src/main/java/com/woowacourse/moragora/exception/MeetingNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/NoKeywordException.java
  backend/src/main/java/com/woowacourse/moragora/exception/NoParameterException.java
  backend/src/main/java/com/woowacourse/moragora/exception/NotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/ParticipantNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/UserNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/AttendanceNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/ClosingTimeExcessException.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/IllegalStartEndDateException.java
  backend/src/main/java/com/woowacourse/moragora/exception/meeting/MeetingNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/participant/InvalidParticipantException.java
  backend/src/main/java/com/woowacourse/moragora/exception/participant/ParticipantNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/exception/user/UserNotFoundException.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/auth/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/auth/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/auth/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/UserControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/entity/user/UserTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/UserServiceTest.java
Labels: 🌾 backend, 🛠 refactor

#216 [BE] SpringData JPA로 이전
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moragora/repository/attendance/AttendanceHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/attendance/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/attendance/AttendanceSpringJpaRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/meeting/MeetingHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/meeting/MeetingRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/meeting/MeetingSpringJpaRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/participant/ParticipantHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/participant/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/participant/ParticipantSpringJpaRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/user/UserHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/user/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/user/UserSpringJpaRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceHibernateRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/MeetingHibernateRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/ParticipantHibernateRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserHibernateRepositoryTest.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor

#219 [FE] Timer 훅 리펙토링
  frontend/src/hooks/useTimer.ts
  frontend/src/pages/MeetingListPage/index.tsx
Labels: 🍚 frontend, 🛠 refactor

#227 [FE] useFetch 리팩토링
  frontend/src/utils/request.ts
Labels: 🔧 feature, 🍚 frontend

#220 [BE] Spring-Data-JPA Repo 리펙터링
  backend/src/main/java/com/woowacourse/ApplicationStartupRunner.java
  backend/src/main/java/com/woowacourse/auth/service/AuthService.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/MeetingRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/attendance/AttendanceHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/attendance/AttendanceSpringJpaRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/meeting/MeetingHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/meeting/MeetingRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/meeting/MeetingSpringJpaRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/participant/ParticipantHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/participant/ParticipantRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/user/UserHibernateRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/user/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceHibernateRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/ParticipantRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
Labels: 🌾 backend, 🛠 refactor

#231 [BE] MeetingService 분리 및 서버 시간 로직 변경
  backend/src/main/java/com/woowacourse/moragora/config/MoragoraWebConfig.java
  backend/src/main/java/com/woowacourse/moragora/controller/AttendanceController.java
  backend/src/main/java/com/woowacourse/moragora/controller/MeetingController.java
  backend/src/main/java/com/woowacourse/moragora/dto/MyMeetingResponse.java
  backend/src/main/java/com/woowacourse/moragora/entity/Attendance.java
  backend/src/main/java/com/woowacourse/moragora/entity/Meeting.java
  backend/src/main/java/com/woowacourse/moragora/entity/MeetingAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/Participant.java
  backend/src/main/java/com/woowacourse/moragora/entity/ParticipantAttendances.java
  backend/src/main/java/com/woowacourse/moragora/entity/user/EncodedPassword.java
  backend/src/main/java/com/woowacourse/moragora/repository/AttendanceRepository.java
  backend/src/main/java/com/woowacourse/moragora/repository/UserRepository.java
  backend/src/main/java/com/woowacourse/moragora/service/AttendanceService.java
  backend/src/main/java/com/woowacourse/moragora/service/MeetingService.java
  backend/src/main/java/com/woowacourse/moragora/service/UserService.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/RealTimeChecker.java
  backend/src/main/java/com/woowacourse/moragora/service/closingstrategy/TimeChecker.java
  backend/src/main/java/com/woowacourse/moragora/support/ServerTimeManager.java
  backend/src/main/java/com/woowacourse/moragora/support/timestrategy/DateTime.java
  backend/src/main/java/com/woowacourse/moragora/support/timestrategy/ServerDateTime.java
  backend/src/main/java/com/woowacourse/moragora/util/CurrentDateTime.java
  backend/src/test/java/com/woowacourse/auth/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/FakeTimeChecker.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/AttendanceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/acceptance/UserAcceptanceTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/AttendanceControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/ControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/controller/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/AttendanceRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/repository/UserRepositoryTest.java
  backend/src/test/java/com/woowacourse/moragora/service/AttendanceServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/service/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/moragora/util/FakeDateTime.java
Labels: 🔧 feature, 🌾 backend, 🛠 refactor
